@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainImage {
  z-index: 0;
}

.clock {
  position: relative;
  font-family: "Share Tech Mono", monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #0aafe6;
  line-height: 1.2;
  text-align: center;
  z-index: 1;
}

.clockDate {
  font-size: 30px;
}

.clockTime {
  font-size: 100px;
}

@media screen and (max-width: 500px) {
  .clockDate {
    font-size: 7vw;
  }
  .clockTime {
    font-size: 20vw;
  }
}
